<html>
<head>
<title>berlin-clock</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
<div class="story">
<h1>Story: The Berlin Clock</h1>
<div class="path">file:/C:/Users/sandhya.pol/Downloads/java-berlin-clock-master/java-berlin-clock-master/bin/stories/berlin-clock.story</div>
<div class="meta">
<div class="keyword">Meta:</div>
<div class="property">@scope interview</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">00:00:000</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">00:00:0</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">00-00-00</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">00:00-00</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">00-00:00</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">00 00 00</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">00a00a00</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">00800800</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">aa:00:00</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">00:bb:00</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">00:00:cc</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">##:00:00</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">00:$$:00</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">00:00:@@</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">#4:00:00</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">00:3#:00</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">00:00:7&amp;</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">hj:&amp;9 9:</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Format is not correct</h2>
<div class="step successful">When the time is <span class="step parameter">h$</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Invalid time</h2>
<div class="step successful">When the time is <span class="step parameter">25:00:00</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Invalid time</h2>
<div class="step successful">When the time is <span class="step parameter">00:61:00</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Invalid time</h2>
<div class="step successful">When the time is <span class="step parameter">00:00:99</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Invalid Input-Invalid time</h2>
<div class="step successful">When the time is <span class="step parameter">25:60:60</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Just after Midnight</h2>
<div class="step successful">When the time is <span class="step parameter">00:00:02</span></div>
<div class="step successful">Then the clock should look like<br/>Y<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Just after Midnight</h2>
<div class="step successful">When the time is <span class="step parameter">00:00:01</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Early Morning</h2>
<div class="step successful">When the time is <span class="step parameter">05:00:00</span></div>
<div class="step successful">Then the clock should look like<br/>Y<br/>ROOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Night</h2>
<div class="step successful">When the time is <span class="step parameter">21:00:00</span></div>
<div class="step successful">Then the clock should look like<br/>Y<br/>RRRR<br/>ROOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Night</h2>
<div class="step successful">When the time is <span class="step parameter">20:00:00</span></div>
<div class="step successful">Then the clock should look like<br/>Y<br/>RRRR<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Night</h2>
<div class="step successful">When the time is <span class="step parameter">02:00:00</span></div>
<div class="step successful">Then the clock should look like<br/>Y<br/>OOOO<br/>RROO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Night</h2>
<div class="step successful">When the time is <span class="step parameter">01:13:01</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>ROOO<br/>YYOOOOOOOOO<br/>YYYO</div>
</div>
<div class="scenario">
<h2>Scenario: Night</h2>
<div class="step successful">When the time is <span class="step parameter">01:47:01</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>OOOO<br/>ROOO<br/>YYRYYRYYROO<br/>YYOO</div>
</div>
<div class="scenario">
<h2>Scenario: Afternoon</h2>
<div class="step successful">When the time is <span class="step parameter">14:23:00</span></div>
<div class="step successful">Then the clock should look like<br/>Y<br/>RROO<br/>RRRR<br/>YYRYOOOOOOO<br/>YYYO</div>
</div>
<div class="scenario">
<h2>Scenario: Afternoon</h2>
<div class="step successful">When the time is <span class="step parameter">14:02:02</span></div>
<div class="step successful">Then the clock should look like<br/>Y<br/>RROO<br/>RRRR<br/>OOOOOOOOOOO<br/>YYOO</div>
</div>
<div class="scenario">
<h2>Scenario: Afternoon</h2>
<div class="step successful">When the time is <span class="step parameter">13:59:57</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>RROO<br/>RRRO<br/>YYRYYRYYRYY<br/>YYYY</div>
</div>
<div class="scenario">
<h2>Scenario: Evening</h2>
<div class="step successful">When the time is <span class="step parameter">18:59:53</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>RRRO<br/>RRRO<br/>YYRYYRYYRYY<br/>YYYY</div>
</div>
<div class="scenario">
<h2>Scenario: Midnight</h2>
<div class="step successful">When the time is <span class="step parameter">00:00:00</span></div>
<div class="step successful">Then the clock should look like<br/>Y<br/>OOOO<br/>OOOO<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
<div class="scenario">
<h2>Scenario: Middle of the afternoon</h2>
<div class="step successful">When the time is <span class="step parameter">13:17:01</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>RROO<br/>RRRO<br/>YYROOOOOOOO<br/>YYOO</div>
</div>
<div class="scenario">
<h2>Scenario: Just before midnight</h2>
<div class="step successful">When the time is <span class="step parameter">23:59:59</span></div>
<div class="step successful">Then the clock should look like<br/>O<br/>RRRR<br/>RRRO<br/>YYRYYRYYRYY<br/>YYYY</div>
</div>
<div class="scenario">
<h2>Scenario: Midnight</h2>
<div class="step successful">When the time is <span class="step parameter">24:00:00</span></div>
<div class="step successful">Then the clock should look like<br/>Y<br/>RRRR<br/>RRRR<br/>OOOOOOOOOOO<br/>OOOO</div>
</div>
</div>

</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
